{% extends 'base.html' %}

{% block content %}
<div class="container-lg m-3 mx-auto p-3"  >
  <form method="post" id="conf_corr_form" enctype="multipart/form-data">{% csrf_token %}
    <div class="card shadow-lg" style="background-color: rgba(247,247,248,0.71)">
      <div class="card-body">

      <p class="card-text">
          <label>Заявка на:</label>
          <br>
            <b class="fs-5">{{ WEEKDAY }},</b> <b class="fs-5">{{ date_of_target }}</b>
            <hr>
        </p>

        <ul class="container-fluid" id="vehicle_list">
            {% for v in tech_app_list %}
                <input type="hidden" value="{{ v.id }}" name="id_list"/>
                <div class="row mb-4" >


                 <div class="input-group ">
                    <input id="io_vehicle_{{ forloop.counter }}" type="hidden"   value="{{ v.technic_driver.technic.name.name }}"/>
                    <select class=" col-4 input_tech" id="input_tech_{{ forloop.counter }}" name="vehicle_{{ v.id }}">
                        {% for u in uniq_name_of_vehicles %}
                    <option {% if u.0 in conflicts_vehicles_list %} style="color: blue" {% endif %} value="{{ u.0 }}">{{ u.0 }}</option>
                         {% endfor %}
                    </select>


                    <input  id="io_driver_{{ forloop.counter }}" type="hidden"  value="{{ v.technic_driver.driver.driver.user.last_name }}">


                    <select class=" col-4 input_driver" id="input_driver_{{ forloop.counter }}" name="driver_{{ v.id }}">

                        {% for veh in vehicle_and_driver %}
                    <option {% if veh.2 in work_TD_list %} style="color: blue" {% endif %} hidden value="{{ veh.1 }}" veh = "{{ veh.0 }}">{{ veh.1 }}</option>

                        {% endfor %}
                    </select>

                    <button role="button" id="btn_reset_{{ forloop.counter }}" class="btn btn-primary btn-sm col-auto" >Вернуть</button>
                    <button role="button" class="btn btn-danger btn-sm col-auto" onclick="
                            this.parentNode.remove();
                            return false;
                            "  >X
                    </button>

                </div>
                      <div class="input-group form-floating ">
                        <span class="input-group-text mt-2">
                        <input type="number" id="priority_{{ v.id }}" name="priority_{{ v.id }}" class="  col-auto  " value="{{ v.priority }}" style="max-width: 50px; margin-left: -5px;"/></span>
                        <textarea class="form-control app_description mt-2" aria-label="With textarea" id="floatingInputValue" name="description_{{ v.id }}" rows="1">{{ v.description }}</textarea>
                        <label for="floatingInputValue" class="fw-bold " style="color: black; margin-left: 100px; margin-top: 0px">{{ v.app_for_day.construction_site.address }} ({{ v.app_for_day.construction_site.foreman.user.last_name }})</label>
                    </div>
                </div>



            {% endfor %}
        </ul>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/conflict_correction.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
  <a href="{% url 'start_page'  %}" class="btn btn-outline-primary active  col-auto m-1" aria-current="page"><i class="fa-solid fa-list"></i> Все заявки</a>
    <a href="{% url 'conflict_resolution' cw_day  %}" class="btn btn-outline-primary active  col-auto ms-5" aria-current="page"> Отмена</a>
  <input form="conf_corr_form" class="btn btn-success  col-auto m-1" type="submit" value="Сохранить">
</div>
{% endblock %}