{% extends 'base.html' %}

{% block content %}

    <div class="container mt-3">
        <h3 class="text-center m-0">
            {% if cw_day == nw_day %}
                <a href="{% url 'driver_app_list' lw_day %}" class="btn " aria-current="page">
                Сегодня <
                </a>
                {{ DAY }}
            {% else %}
                {{ DAY }}
                <a href="{% url 'driver_app_list' nw_day %}" class="btn fw-light" aria-current="page">
                > Следующий рабочий день
                </a>
            {% endif %}

        </h3>
    </div>

    <div class="container mt-5">
        <div class="row">
        {% for drv, app in app_list %}
        <div class="col-auto">
        <div class="card shadow-lg" style="width: 18rem; margin-bottom:15px; background-color: rgba(247,247,248,0.75)">
          <div class="card-body">
              <h5 class="card-title fw-bold" style="text-align: center">

                  <a href="{% url 'application_for_driver' cw_day drv.driver.user.id %}" class="btn btn-link" aria-current="page">
                      <b>{{drv.driver.user.last_name}} {{drv.driver.user.first_name}}</b>
                  </a>
              </h5>

            {% for a in app %}
                <hr>
              <h6 class="card-text fw-bold">{{ a.technic_driver.technic.name.name }}</h6>
                <h6 class="card-text"><b>{{ a.priority }})</b> {{ a.app_for_day.construction_site.address }} ({{a.app_for_day.construction_site.foreman.user.last_name}})</h6>
                {% if a.description %}
                <textarea class="form-control app_description" readonly>{{ a.description }}</textarea>
                {% endif %}

            {% endfor %}

          </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/show_info_application.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
  <a href="{% url 'start_page'  %}" class="btn btn-outline-primary active  col-auto m-1" aria-current="page">Назад</a>
</div>
{% endblock %}