{% extends 'base.html' %}

{% block indicator %}
{% if post == 'admin' %}
    {% if conflicts_vehicles_list %}<a href="{% url 'conflict_resolution' cw_day %}" class="btn btn-sm btn-danger ">Недостаток техники</a>
     {% elif not conflicts_vehicles_list and submitted_app_list %}<a href="{% url 'approv_all_applications' cw_day %}" class="btn btn-sm btn-success ">Одобрить все заявки</a>
     {% elif not conflicts_vehicles_list and send_app_list %}<a href="{% url 'send_all_applications' cw_day %}" class="btn btn-sm btn-warning ">Отправить все заявки</a>
    {% else %}{% endif %}
{% elif post == 'foreman' or 'master' or 'employee_supply' %}
    {% if saved_app_list %}
    <a href="{% url 'submitted_all_applications' cw_day %}"  class="btn btn-sm btn-warning  " aria-current="page">Подать все заявки</a>
        {% endif %}
{% endif %}
{% endblock %}

{% block content %}

    {% block choosedate %}
    <div class="container-fluid  ">
        <h3 class="btn-group position-absolute start-50 translate-middle">
            {% if cw_day == nw_day %}
                <a href="{% url 'application_list' lw_day %}" class="btn fw-light text-nowrap" aria-current="page">{{ lw_day }} <</a>
                <input class="form-control io_current_day" type="date" style="width: 45px;"  value=""/>
                <div class="ms-2 text-nowrap">{{ DAY }}</div>
            {% else %}
                <div class="me-2 text-nowrap io_current_day">{{ DAY }}</div>
                <input class="form-control io_current_day" type="date" style="width: 45px;" value=""/>
                <a href="{% url 'application_list' nw_day %}" class="btn fw-light text-nowrap" aria-current="page">> {{ nw_day }}</a>
            {% endif %}

        </h3>
    </div>
    {% endblock %}

<div class="container container-fluid mx-auto row">
    <div class="container mt-5 col-auto ">
        <div class="row">
        {% for a in today_applications_list %}
        <div class="col-auto">

        <div class="card shadow-lg
            {% if  a.app_today.status.status  == 'Сохранена' %}
                border border-3 border-warning
            {% elif a.app_today.status.status == 'Одобрена' %}
                border border-3 border-success
            {% elif a.app_today.status.status == 'Подана' %}
                border border-3 border-primary
            {% endif %}

            "
             style="width: 18rem; margin-bottom:15px; background-color: rgba(248,248,247,0.75)">

          <label style="white-space: nowrap" class="position-absolute top-0 start-50 translate-middle bg-white rounded border border-2
                {% if  a.app_today.status.status  == 'Сохранена' %}
                    text-warning border-warning
                {% elif a.app_today.status.status == 'Одобрена' %}
                    text-success border-success
                {% elif a.app_today.status.status == 'Подана' %}
                    text-primary border-primary
                {% else %}
                    text-dark border-dark
                {% endif %}
                fw-bold text-lowercase">Заявка {{ a.app_today.status.status }}</label>


          <div class="card-body mt-1" >
            <h6 class="card-title" >{{a.app_today.construction_site.address}} {% if a.app_today.construction_site.foreman.user.last_name%}({{ a.app_today.construction_site.foreman.user.last_name }}){% endif %}</h6>
            <h6 class="card-title" >{{a.app_today.date}}</h6>
          {% if a.apps_tech %}
          <hr style="border-width: medium; border-color: green">
              <h6 class="card-text"><label><b>Список техники:</b></label> </h6>
              {% for v in a.apps_tech %}
                  <div class="row">
                <div class="card-text fs-6 col-auto
                        {% if v.technic_driver.technic.name.name in conflicts_vehicles_list %}
                        text-danger
                        {% elif v.id in conf_app_id_list %}
                        text-danger{% endif %}
                            ">{{ v.technic_driver.technic.name }}</div>
                <div class="card-text fs-6 col-auto
                            {% if v.id in priority_list %}
                            text-primary{% endif %}
                            ">({{ v.technic_driver.driver.driver }})</div>
                    </div>

                  {% if v.description %}
                <textarea class="form-control app_description" readonly>{{ v.description }}</textarea>
                {%endif%}
                  <hr>

              {% endfor %}
          {% endif %}
            <div class="btn-group ">
                <a href="{% url 'show_info_application' a.app_today.id %}" class="btn btn-outline-primary  m-1" aria-current="page"><i class="fa-solid fa-circle-info"></i></a>
                <a href="{% url 'add_application' a.app_today.id %}" class="btn btn-outline-primary  m-1" aria-current="page"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'clear_application' a.app_today.id %}" class="btn btn-outline-danger  m-1" aria-current="page"><i class="fa-solid fa-trash"></i></a>
                {% if  a.app_today.status.status  == 'Сохранена' or post  == 'admin' and a.app_today.status.status  == 'Подана' %}
                <a href="{% url 'success_application' a.app_today.id %}" class="btn btn-outline-success  m-1" aria-current="page"><i class="fa-solid fa-check"></i></a>
                {% elif post  == 'admin' and a.app_today.status.status  == 'Одобрена' %}
                <a href="{% url 'success_application' a.app_today.id %}" class="btn btn-outline-warning  m-1" aria-current="page"><i class="fa-solid fa-paper-plane"></i></a>
                {% endif %}
                {% if user.username == 'admin' %}
                <div class="dropup">
                    <a class="btn m-1 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">...</a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Действие</a></li>
                        <li><a class="dropdown-item" href="#">Другое действие</a></li>
                        <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                      </ul>
                </div>{% endif %}

            </div>
          </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>

    {% if post == 'admin' %}{% csrf_token %}
    <div class="driver_panel container col-auto   position-fixed end-0 "style="margin-top: -45px; height: 90vh;" {% if var_drv_panel.value == user.id|slugify and var_drv_panel.flag %} hidden="" {% endif %}>
        <div class="card-body  overflow-auto "style="height: 90%" >

            {% for drv, count, attach_drv, tech_drv in DRV_LIST %}
            <ol class="list-group" >
                <li class="list-group-item d-flex justify-content-between align-items-start" >
                <div class="div_td"  style="margin-left: -5px; margin-right: -10px;" id="{{ drv.id }}">
                  <div class="fw-bold small
                    {% if not drv.status %} text-danger
                    {% elif count == 0 %}
                    {% elif not count == 0 %} text-success
                    {% endif %}
                    ">{{drv.driver.user.last_name}}</div>
                    <div class=" small ">

                        {% if tech_drv %}
                            {% for tech in tech_drv %}
                                {% if tech.status %}
                                    {% if not count == 0 %}<div class="lh-sm text-success text-truncate">{{ tech.technic.name.name }}</div>
                                    {% else %}<div class="lh-sm text-truncate">{{ tech.technic.name.name }}</div>
                                    {% endif %}
                                {% else %} <div class="lh-sm text-danger text-truncate">{{ tech.technic.name.name }}</div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for tech in attach_drv %}<div class="lh-sm text-danger text-truncate">{{ tech.0 }}</div>{% endfor %}
                        {% endif %}


                    </div>
                </div>
                <span class="badge bg-primary rounded-pill"></span>
              </li>
            </ol>
        {% endfor %}

        </div>
    </div>
    {% endif %}

</div>


{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/main.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">

    <a href="{% url 'show_today_applications' cw_day  %}"  class="btn  btn-outline-secondary active" aria-current="page">Все заявки</a>
</div>
    {% if post == 'admin' %}
    <button role="button" class="btn_driver_panel btn btn-outline-light  col-auto position-absolute end-0 m-2"><i class="fa-solid fa-list"></i> </button>
    {% endif %}
{% endblock %}

