{% extends 'base.html' %}

{% block content %}

<div class="container-lg m-3 mx-auto w-75 p-3"  >
    <div class="card shadow-lg" style="background-color: rgba(247,247,248,0.71)">
      <div class="card-body">
        <p class="card-text"> <b class="fs-5">Вес сотрудники </b> </p><hr>
      <div>

        <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Должность</th>
      <th scope="col">Телефон</th>
    </tr>
  </thead>
  <tbody>{% for user, post, tel in user_post %}

    <tr id="{{ user.id }}" class="user_row">
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ user.username }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ post }}</td>
      <td>{{ tel.telephone }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>




      </div>
      </div>
    </div>

</div>

{% endblock %}

{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/show_staff.js" %}"></script>
{% endblock %}

{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">
  <a href="{% url 'start_page'  %}" class="btn btn-outline-primary active  col-auto m-1" aria-current="page"><i class="fa-solid fa-list"></i> Назад</a>

    <a href="/signup/" class="btn btn-outline-success active col-auto m-1" aria-current="page">Добавить сотрудника</a>
</div>
{% endblock %}