{% extends 'base.html' %}

{% block content %}

<div class="container-lg  mx-auto p-3"  >

    <div class="card shadow-lg" style="background-color: rgba(247,247,248,0.71)">
      <div class="card-body">

        <p class="card-text">


            <b class="fs-5">{{ WEEKDAY }}, </b><br><b class="fs-5">{{ date_of_target }}</b>


        </p>
          {% if cw_day == nw_day %}
      <a href="/today_app/{{ lw_day }}" class="btn btn-outline-secondary  position-absolute top-0 end-0 m-3" aria-current="page">Сегодня</a>
        {% else %}
          <a href="/today_app/{{ nw_day }}" class="btn btn-outline-secondary  position-absolute top-0 end-0 m-3" aria-current="page">Следующий день</a>
      {% endif %}
      </div>
    </div>

      <form method="post" id="priority_form" enctype="multipart/form-data">{% csrf_token %}
      {% for v in today_technic_applications %}
    <div class="card shadow-lg m-2" style="background-color: rgba(247,247,248,0.71)">
      <div class="card-body">
        <ul class="container-fluid" >

                <div class="  " id="vehicle_list">
                    <label class="ms-1 fw-bold"
                            {% if v.1 in conflicts_list %}
                                style="color: red"
                            {% endif %}
                    >{{ v.0 }} ({{ v.1 }})  </label>
                        {% for d in v.2 %}

                        <div class=" conteiner-fluid form-floating row mt-1 ">
                        <input type="hidden" name="prior_id" value="{{ d.id }}"/>
                            <div class="input-group form-floating p-0">
                                {% if post == 'admin' %}

                                <span class="input-group-text {% if d.id in priority_list %} border border-2 border-primary{% endif %}">
                                <input type="number" min="1" id="priority_{{ d.id }}" name="priority"
                               class="priority   col-auto  " value="{{ d.priority }}" style="max-width: 50px; margin-left: -5px;"/>
                                </span>

                                {% endif %}

                                <textarea {% if post != 'admin' %} readonly {% endif %} class="form-control app_description" aria-label="With textarea" id="floatingInputValue" name="descr">{{ d.description }}</textarea>
                                <label for="floatingInputValue" class="fw-bold text-nowrap" style="color: black; margin-left: 60px; margin-top: -10px">{{ d.app_for_day.construction_site.foreman.user.last_name }} ({{ d.app_for_day.construction_site.address }})</label>
                            </div>
                        </div>
                      {% endfor %}
                </div>
        </ul>
      </div>
    </div>
      {% endfor %}
      </form>




</div>

{% endblock %}



{% block bottom_panel %}
<div class="input-group d-flex justify-content-center align-items-center">


    {% if post == 'admin' %}
    <a href="{% url 'application_list' cw_day %}" class="btn btn-primary col-auto  m-1" aria-current="page">Назад</a>
    <input form="priority_form" class="btn btn-success  col-auto   m-1" type="submit" value="Сохранить изменения">
        {% else %}
        <a href="/" class="btn btn-primary col-auto m-1" aria-current="page">Назад</a>
    {% endif %}
</div>
{% endblock %}



{% block script %}{% load static %}
    <script src="{% static "admin/js/scripts/today_application.js" %}"></script>
{% endblock %}